---
import '../styles/global.css';
import Header from '@/components/global/Header.astro';

interface Props {
	title?: string;
	header?: any;
	footer?: any;
	locale?: string;
	settings?: any;
}

const {title = 'Veb-Dev', locale = 'uk', settings} = Astro.props;
---

<html lang={locale}>
	<head>
		<meta charset='utf-8' />
		<meta
			name='viewport'
			content='width=device-width, initial-scale=1.0'
		/>
		<link
			rel='icon'
			type='image/svg+xml'
			href='/favicon.svg'
		/>
		<title>{title}</title>
	</head>
	<body>
		<Header settings={settings} locale={locale} />
		<main>
			<slot />
		</main>
		<footer>футер</footer>
	</body>
</html>
