---
// Получаем данные, которые пришли из Payload
const {title, text, type} = Astro.props;
---

<section>
	<small>Тип блока: {type}</small>

	<h1 style='color: #004488; font-size: 3rem; margin-bottom: 1rem;'>
		{title}
	</h1>

	<p style='font-size: 1.25rem; color: #333;'>
		{text}
	</p>
</section>
