.page {
  --background: #171717;
  --foreground: #0a0a0a;
  --text-primary: #fff;
  --text-secondary: #f6ff00;

  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background-color: var(--foreground);
  padding: 120px 60px;
}



 .title {
  max-width: 320px;
  font-size: 44px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -2.4px;
  text-wrap: balance;
  color: var(--text-primary);
}

.link {
  margin-top: 24px;
  font-size: 20px;
  font-weight: 500;
  color: var(--text-secondary);
}



