---
import Hero from './Hero.astro';
import Content from './Content.astro';

const {blocks} = Astro.props;
---

{
	blocks?.map((block: any) => {
		switch (block.blockType) {
			case 'hero':
				return <Hero {...block} />;
			case 'content':
				return <Content {...block} />;
			default:
				// Если создали новый блок в CMS, но забыли сделать компонент в Astro
				return (
					<div class="text-red-600 p-4 border border-red-600 my-4">
						Неизвестный блок: {block.blockType}
					</div>
				);
		}
	})
}
